@media print, (max-width: 767px) {

    :root {
        --font_size: 14px;
        --font_size_title: 28px;
    }

    footer .menu {
        flex-direction: column;
    }
    footer .menu .item a {
        margin-right: 0;
        margin-bottom: 30px;
    }
    footer .menu .item:last-child a {
        margin-bottom: 0;
    }
    .footer_logo {
        margin-right: 0px;
    }
    .footer_contacts {
        flex-direction: column;
    }
    .footer_contacts-phone {
        margin-left: 0;
        margin-right: 0;
        margin-top: 70px;
        margin-bottom: 39px;
        order: -1;
    }
    footer .btn_callback {
        margin-top: 7px;
    }
    header .mob_menu_btn {
        order: 0;
    }
    header .cont {
        flex-wrap: wrap;
    }
    .header_contacts {
        margin-left: auto;
        margin-right: auto;
        order: 1;
        width: 100%;
        margin-top: 26px;
    }
    .header_contacts-bottom {
        justify-content: flex-start;
    }
    .header_contacts-bottom {
        margin-top: 17px;
    }
    header .btn_callback {
        margin-left: 50px;
    }
    header {
        padding: 23px 0 48px;
    }
    .benefits_items {
        margin-left: 0;
    }
    .benefits_items > * {
        width: 100%;
        margin-left: 0;
    }
    .object_items {
        margin-left: 0;
    }
    .object_items > * {
        width: 100%;
        margin-left: 0;
    }

    .reviews .swiper-button-prev3,
    .reviews .swiper-button-next3 {
        display: none;
    }
    .license_text img {
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
    .license .swiper-button-prev,
    .license .swiper-button-next {
        display: none;
    }

    .projects_title {
        font-size: 22px;
        line-height: 26px;
        margin-top: 51px;
    }
    .projects_text {
        font-size: 16px;
        line-height: 18px;
    }
    .projects-link-prev {
        margin-bottom: 50px;
    }
    .projects {
        padding: 50px 0 50px;
    }
    .projects_btn {
        margin: 60px auto 0;
    }
    .projects .swiper-button-prev4 {
        left: 30px;
    }
    .projects .swiper-button-next4 {
        right: 30px;
    }
    .cont {
        padding: 0 30px;
    }
    .first-section .cont {
        padding: 0 30px;
    }
    .first-section .swiper-button-prev2,
    .first-section .swiper-button-next2 {
        display: none;
    }
    .first-section {
        margin-top: 287px;
    }
    .first-section_title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .first-section_info {
        padding: 28px 10px 72px;
    }
    .first-section_btns {
        flex-direction: column;
    }
    .first-section_btns a:nth-child(1) {
        margin-right: 0;
        margin-bottom: 14px;
    }
    .first-section .swiper-horizontal>.swiper-pagination-bullets, 
    .first-section .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .first-section .swiper-pagination-custom {
        bottom: 29px;
        left: auto;
        right: 50%;
        transform: translateX(50%);
    }
    .about_info {
        margin-top: -20px;
    }
    .callback {
        background: none;
    }
    .callback_form {
        padding: 0;
        max-width: 100%;
        border: none;
        background: #fff;
    }
    .callback_form form {
        padding: 60px 0px 48px;
        position: relative;
        background: #fff;
    }
    .callback_form form::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #0AA7B1;
        width: calc(100% + 60px);
        height: 1px;
    }
    .callback_form form::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #0AA7B1;
        width: calc(100% + 60px);
        height: 1px;
    }
    .callback form button {
        width: 100%;
    }
    .callback_text {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 40px;
    }
    .title {
        line-height: 33px;
    }
    .license_title {
        text-align: center;
        margin-bottom: 20px;
    }
    .license_text {
        text-align: center;
    }
    .accordion_link .icon {
        display: none;
    }
    .accordion_link {
        width: 100%;
        height: 49px;
        padding: 0 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
    .accordion_link span {
        margin-left: 0;
    }
    .icon-mob {
        display: block;
        width: 31px;
        margin: 0 auto;
    }
    .modal_text {
        font-size: 18px;
        line-height: 21px;
    }
    .modal {
        padding: 94px 20px 47px;
    }
    .modal form button {
        width: 100%;
    }
    .modal2 .modal_title {
        font-size: 48px;
        line-height: 56px;
    }
    .modal2 .modal_text {
        margin-top: 0px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0;
    }
    .modal2 .modal_desc {
        font-size: 18px;
        line-height: 21px;
    }
    .benefits {
        margin-top: 42px;
        padding-bottom: 10px;
    }
    .benefits_items > * {
        margin-bottom: 20px;
    }
    .benefits_items {
        margin-bottom: 20px;
    }
    .benefits_item {
        padding: 37px 31px 57px;
    }
    .object {
        padding: 30px 0;
    }
    .object_title {
        margin-bottom: 40px;
    }
    .object_item-text {
        line-height: 20px;
    }
    .object_item-link {
        margin-top: 28px;
    }
    .object_items {
        margin-bottom: -52px;
    }
    .object_items > * {
        margin-bottom: 52px;
    }
    .about_title {
        text-align: center;
        margin-bottom: 38px;
    }
    .about_text {
        text-align: center;
    }
    .about_link {
        font-size: 18px;
        padding: 0 30px;
    }
    .about_link span {
        margin-left: 19px;
    }
    .about {
        padding: 70px 0 47px;
    }
    .reviews_title {
        margin-bottom: 20px;
    }
    .reviews_text {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 45px;
    }
    .reviews {
        padding: 30px 0 40px;
    }
    .callback_politic {
        margin-top: 40px;
    }
    .callback form button {
        font-size: 14px;
    }
    .callback {
        margin-bottom: 40px;
    }
    .license_text {
        font-size: 16px;
    }
    .license {
        padding: 36px 0 30px;
    }
    .accordion {
        padding: 91px 0 80px;
    }
    .accordion_title {
        margin-bottom: 40px;
    }
    .accordion_item-title {
        font-size: 16px;
        line-height: 19px;
    }
    .accordion_text {
        margin-top: 40px;
    }
    .accordion_text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .accordion_link {
        margin: 0 auto;
    }
    footer {
        padding: 80px 0;
    }
    footer .menu {
        margin-top: 70px;
    }
    footer .menu .item a {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 31px;
    }
    .footer_contacts-soc a:nth-child(1) {
        width: 64px;
        height: auto;
        margin-right: 0;
    }
    .footer_contacts-soc a:nth-child(2) {
        width: 64px;
        height: auto;
    }
    .footer_contacts-soc a:nth-child(1) img,
    .footer_contacts-soc a:nth-child(2) img {
        width: 100%;
        height: 100%;
    }
    .accordion_item.active .accordion_item-title {
        font-size: 16px;
        line-height: 21px;
    }
    .block {
        scroll-margin-top: 287px;
    }
    header .menu .item > a {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 41px;
    }

    header .menu {
        padding: 185px 20px 20px;
    }
    .menu_open header .close_btn {
        top: -80px;
    }
    .menu_open header .close_btn img {
        width: 28px;
        height: 28px;
    }
 




}
