@media print, (max-width: 1300px) {

    :root {
        --font_size: 16px;
        --font_size_title: 40px;
    }

    .first-section .cont {
        padding: 0 40px;
    }
    .first-section_img {
        height: 335px;
    }
    .first-section_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .first-section .swiper-horizontal > .swiper-pagination-bullets, 
    .first-section .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .first-section .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 30px;
    }
    .about_info {
        margin-right: 20px;
    }
    .reviews .swiper-button-prev3 {
        bottom: 70%;
        left: 0;
    }
    .reviews .swiper-button-next3 {
        bottom: 70%;
        left: auto;
        right: 0%;
    }
    .license_text img {
        right: calc(-100% + 120px);
    }
    .license .swiper-container {
        padding: 0 40px;
    }
    .license .swiper-button-prev {
        left: 0;
    }
    .license .swiper-button-next {
        left: auto;
        right: 10px;
    }
    .projects .swiper {
        margin-left: -20px;
        margin-right: -20px;
    }
    .projects .swiper-button-prev4 {
        left: 40px;
    }
    .projects .swiper-button-next4 {
        right: 40px;
    }
    .reviews_text br {
        display: none;
    }




}

