/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;

}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --text_color: #212121;
    --font_size: 16px;
    --font_size_title: 40px;
    --font_family: 'Jost';
    --bg: #FFFBF5;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    background: var(--bg);
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
    z-index: 1;

}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 170px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 144px;
}
header .mob_menu_btn {
    display: none;
    width: 98px;
    height: 90px;
    margin-right: 0px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    color: #000;
    order: 1;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 30px;
    width: 98px;
    height: 90px;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu .item a {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.167;
    color: #FFFFFF;
    position: relative;
    transition: color .2s linear;
    position: relative;
    transition: all .4s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}

header .menu .item:last-child a {
    margin-right: 0;
}

header .menu .item>a:hover {
    color: #FFA653;
}

header {
    position: relative;
    z-index: 3;
    padding: 36px 0 53px;
    /* background: url(../images/header_bg.jpg); */
    background: linear-gradient(282.9deg, rgba(0, 0, 0, 0) 26.76%, rgba(0, 0, 0, 0.36) 72.06%), url(../images/header_bg.jpg);
}

.header .cont {
    max-width: 1310px;
}
.header_contacts {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header_contacts-phone {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.167;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
    transition: all .4s;
}
.header_contacts-phone:hover {
    color: var(--bg);
}
.header_contacts-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.btn_callback {
    width: 192px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(151.93deg, #FFAD62 14.73%, #FFC188 87.38%);
    border-radius: 12px;
    transition: all .4s;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3125;
    color: #FFFFFF;
}

.btn_callback:hover {
    background: linear-gradient(272.85deg, #F19E50 0.75%, #FFAD62 100%);
    box-shadow: 0px 10px 15px rgba(255, 166, 83, 0.38);
}

.btn_callback:active {
    background: linear-gradient(272.85deg, #F19E50 0.75%, #FFAD62 100%);
    box-shadow: 0px 10px 15px rgba(255, 166, 83, 0.38);
}

.header_bottom {
    display: flex;
    margin-bottom: 172px;
}
.header_info {
    width: calc(100% - 680px);
}
.header_bottom form .line .field {
    display: flex;
    gap: 10px;
}
.header_bottom form .line input {
    width: 366px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    font-weight: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.167;
    color: #232229;
}
.header_bottom form .btn_callback {
    width: 222px;
}
.header_title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 46px;
    line-height: 1.1;
    color: #FFFFFF; 
    margin-bottom: 30px;   
}
.header_title span {
    color: #FFA653;   
}
.header_text {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF; 
    margin-bottom: 30px;   
}

.header_items {
    padding-top: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header_items:before {
    position: absolute;
    content: "";
    width: calc(100% + 3000px);
    height: 1px;
    background: #000;
    left: -1000px;
    top: 0;
}
.header_items > * {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_item-icon {
    width: 60px;
    height: 60px;
}
.header_item-icon img {
    width: 100%;
    height: 100%;
}
.header_item-title {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    color: #FFFFFF;
}



/* service */

.block {
    padding: 100px 0;
    background: #FFFBF5;
}
.block .block_head .title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 46px;
    line-height: 1.1;
    text-align: center;
    color: #232229;
}
.block .block_head .text {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #232229;
    margin-top: 20px;
}
.block_head {
    margin-bottom: 30px;
}
.service_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service_items > * {
    width: calc(100%/3 - 14px);
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 9px 10px rgba(235, 192, 158, 0.11);
    border-radius: 12px;
}
.service_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.service_item-title {
    margin-top: 15px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    color: #232229;
}
.service_item-text {
    margin-top: 15px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    text-align: center;
    color: #545358;
}
.service_item:last-child {
    padding: 0;
    background: #232229;
    background-image: url(../images/service9.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_item:last-child:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #232229;
    opacity: 0.7;
    z-index: 5;
    border-radius: 11px;
}
.service_item:last-child .service_item-text {
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    z-index: 5;
}
.service_item:last-child .btn_callback {
    width: 173px;
    z-index: 5;
}



.block2 {
    padding: 100px 0;
    background: #232229;
}
.block2 .block_head .title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 46px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
}
.block2 .block_head .text {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}
.before-after {
    position: relative;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}
.before-after img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    max-width: unset;
}
.before-after__before-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50%);
    overflow: hidden;
    z-index: 1;
}
.before-after__comparison-slider-custom {
    position: absolute;
    height: 350px;
    left: 200px;
    top: 0;
    z-index: 10;
    cursor: col-resize;
}
[data-ba-element="slider"] {
    position: absolute;
    cursor: col-resize;
    left: calc(50%);
    top: 0;
    z-index: 10;
}
.before-after__comparison-slider {
    position: absolute;
    width: 4px;
    height: calc(100% - 4px);
    left: calc(50%);
    top: 0;
    z-index: 10;
    cursor: col-resize;
}
.before-after__comparison-slider::before,
.before-after__comparison-slider::after {
    height: calc(50% - 20px);
    background-color: #fff;
    width: 4px;
    content: "";
    position: absolute;
}
.before-after__comparison-slider::after {
    bottom: 0;
}
.before-after__comparison-slider-arrows {
    position: relative;
    border: 4px solid white;
    top: 50%;
    left: 50%;
    background-color: rgb(255 255 255/0.4);
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 35px;
    backdrop-filter: blur(10px);
}
.before-after__comparison-slider-arrows::before,
.before-after__comparison-slider-arrows::after {
    content: "";
    position: absolute;
    top: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #fff;
    display: inline-block;
    height: 8px;
    width: 8px;
}
.before-after__comparison-slider-arrows::before {
    transform: translateY(-50%) rotate(-135deg);
    left: 5px;
}
.before-after__comparison-slider-arrows::after {
    transform: translateY(-50%) rotate(45deg);
    right: 5px;
}
.before-after__text {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.before-after__text--top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: max-content;
}
.before-after__text--bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: max-content;
}
.before-after__text--top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: max-content;
}
.before-after__text--bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: max-content;
}
.before_after-box {
    display: flex;
    align-items: center;
    gap: 60px;
}
.videos_item {
    position: relative;
    display: block;
    width: 610px;
    height: 360px;
    border-radius: 12px;
}
.videos_item:before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    background: url(../images/play.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.before_after-list-title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.before_after-box {
    margin-bottom: 30px;
}
ul {
    list-style: none;    
}
ul li {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.02;
    color: #FFFFFF;  
    position: relative;
    padding-left: 13px;
}
ul li:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #FFA653;
    left: 0;
    top: 7px;
}
ul li + li {
    margin-top: 15px;
}





.stage_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.stage_item-title {
    margin-top: 15px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    color: #232229;
}
.stage_item-text {
    margin-top: 15px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    text-align: center;
    color: #545358;
}
.stage_item {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 9px 10px rgba(235, 192, 158, 0.11);
    border-radius: 12px;
}
.swiper {
    overflow: visible !important;
}
.swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}
.swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}
.swiper-button-prev .icon {
    stroke: #3A526D;
}

.swiper-button-next, 
.swiper-button-prev {
    bottom: 50%;
    transform: translateY(-50% );
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    transition: color .2s linear;
    transform: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 50%;
}

.swiper-button-next .arrow {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 20px;
}
.swiper-button-next .arrow-top, 
.swiper-button-next .arrow-bottom {
    background:#3A526D;
    height: 2px;
    position: absolute;
    top: 8px;
    width: 14px;
}
.swiper-button-next .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.swiper-button-next .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.swiper-button-next:hover .arrow-top{
    background: #FFAD62;
}
.swiper-button-next:hover .arrow-bottom {
    background: #FFAD62;
}

.swiper-button-prev .arrow {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    margin: 20px;
}
.swiper-button-prev .arrow-top, 
.swiper-button-prev .arrow-bottom {
    background:#3A526D;
    height: 2px;
    position: absolute;
    top: 8px;
    width: 14px;
}
.swiper-button-prev .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom left;
}
.swiper-button-prev .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
}
.swiper-button-prev:hover .arrow-top{
    background: #FFAD62;
}
.swiper-button-prev:hover .arrow-bottom {
    background: #FFAD62;
}
.swiper-button-prev {
    left: calc(50% - 710px);
}
.swiper-button-next {
    left: calc(50% + 650px);
}

.swiper-pagination-bullet {
    display: block;
    width: 9px;
    height: 9px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border: 2px solid #111113;
    border-radius: 50%;
    background: #111113;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 6px !important;
}
.swiper-pagination-bullet:hover, 
.swiper-pagination-bullet.active {
    border-color: #FFAD62;
    background: #FFAD62;
}
.swiper-pagination-bullet-active {
    width: 20px;
    border-color: #FFAD62;
    background: #FFAD62;
    height: 9px;
    border-radius: 11px;
}
.stage .swiper-slide {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 9px 10px rgba(235, 192, 158, 0.11);
    border-radius: 12px;
    height: auto;
}
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: -40px;
}




.callback .cont {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.callback .block_head .title {
    text-align: start;
    z-index: 5;
    position: relative;
    max-width: 550px;
}
.callback_form {
    width: 418px;
    padding: 50px;
    background: linear-gradient(151.93deg, #FFAD62 14.73%, #FFC188 87.38%);
    border-radius: 12px;
    z-index: 5;
    position: relative;
}
.callback_form .line {
    margin-bottom: 20px;
}
.callback_form .line .field input {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.167;
    color: #3A526D;
    padding: 0 23px;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 12px;
}
.callback_form .line .field input::-webkit-input-placeholder {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.167;
    color: #3A526D;
}
.callback_form .line .field input::-moz-placeholder {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.167;
    color: #3A526D;
}
.callback_form .line .field input:-moz-placeholder {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.167;
    color: #3A526D;
}
.callback_form .line .field input:-ms-input-placeholder {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.167;
    color: #3A526D;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox label {
    display: inline-block;
    font-family: inherit;
    position: relative;
    padding-left: 44px;
    cursor: pointer;
    line-height: 24px;
}
.custom-checkbox + label:before {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 3px;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
}
.custom-checkbox:checked + label:after {
    border-bottom: 3px solid  #ffae63;
    border-left: 3px solid #ffae63;
    width: 14px;
    height: 8px;
    content: "";
    position: absolute;
    left: 5px;
    top: 6px;
    transform: rotate(-45deg);
}
.callback_img {
    position: absolute;
    z-index: 0;
    right: 107px;
    bottom: -141px;
}
.callback_form-title {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 26px;
    line-height: 1.15;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.callback_form-title span {
    color: #BB4D1E;
}
.form_agree-text {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.333;
    color: #000000;
    margin-bottom: 20px;
}
.form_agree-text a {
    color: inherit;
}
.callback .btn_callback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 25px;
    width: 100%;
    height: 54px;
    background: linear-gradient(151.93deg, #232229 14.73%, #3F3E47 87.38%);
    border-radius: 12px;
    transition: all .4s;
}
.callback .btn_callback:hover {
     background: linear-gradient(151.93deg, #0C0C0E 14.73%, #2A2931 87.38%);
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.25);
}






.advantage_item + .advantage_item {
    margin-top: 125px;
}
.advantage_item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.advantage_item-img {
    width: 610px;
    height: 360px;
    flex-shrink: 0;
}
.advantage_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.advantage_item-title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4375;
    color: #232229;
    margin-bottom: 20px;
}
.advantage_item ul li {
    color: #232229;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: #232229;
}
.advantage_item ul li + li {
    margin-top: 15px;
}





.benefits_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.benefits_items > * {
    width: calc(100%/4 - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits_item-title {
    font-family: 'Jost';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
.benefits_item-text {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}





.achievement_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 30px;
}
.achievement_info ul li {
    color: #232229;
    font-family: 'Jost';
    font-weight: 400;
    color: #232229;
}
.achievement_info ul li + li {
    margin-top: 15px;
}
.achievement_info-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
    color: #232229;
}
.achievement .btn_callback {
    width: 183px;
    margin: 0 auto;
}



.accordion_item-head {
    background: #1E1D21;
    padding: 16px 23px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion_item-title {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.444;
    color: #FFFFFF;
}
.accordion_item-icon {
    width: 14px;
    height: 8px;
    fill: #fff;
}
.accordion_item-data {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #FFFFFF;
    padding: 0px 23px 16px;
    background: #141414;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    display: none;
}
.accordion_item.active {
    background: #141414;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
    border-radius: 11px;    
}
.accordion_item.active .accordion_item-head {
    background: #141414;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accordion_item + .accordion_item {
    margin-top: 36px;
}
.accordion_item.active .accordion_item-icon {
    transform: rotate(180deg);
}
.accordion .btn_callback {
    width: 238px;
    margin: 30px auto 0;
}





footer {
    padding: 100px 0px 0px;
    background: #19181C;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 114px;
}
.footer_logo {
    width: 201px;
    height: 26px;
}
.footer_logo img {
    width: 100%;
    height: 100%;
}
.footer-title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.05;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer_menu .menu .item + .item {
    margin-top: 15px;
}
.footer_menu .menu .item a {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: #FFFFFF;  
    text-decoration: none;
}
.footer_soc {
    width: 230px;
}
.footer_soc-wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
}
.footer_soc-wrap > * {
    width: calc(100%/4 - 8px);
    height: 50px;
    display: block;
}
.footer_contacts .footer-title {
    margin-bottom: 25px;
}
.footer_contacts .footer_contacts-phone {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 19px;
    line-height: 1;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    color: #fff;
}
footer .btn_callback {
   width: 216px;
}
.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 25px 0;
    position: relative;z-index: 2;
}
.footer_bottom:before {
    position: absolute;
    content: "";
    width: 3000px;
    height: 100%;
    background: #141414;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer_bottom-logo {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #D9D9D9;
    text-decoration: none;
}
.footer_bottom-politic {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    text-decoration-line: underline;
    color: #D9D9D9;
}
